---
import type { Photos } from "../../../interfaces/interfaces";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

const API_KEY = import.meta.env.TOP_SECRET;
const { id } = Astro.params;
let related_photo = {} as Photos;

try {
  const related_photo_response = await fetch(
    `https://api.unsplash.com/photos/${id}?client_id=${API_KEY}`
  );
  let related_photo_data = await related_photo_response.json();
  related_photo = related_photo_data;
} catch (e) {
  console.error(e);
}

const {
  created_at,
  width,
  height,
  urls,
  links,
  likes,
  user,
  exif,
  views,
  related_collections,
  downloads,
} = related_photo;
const imageWidth = `${width}`;
const imageHeight = `${height}`;

const imageAspectRatio = `${width / height}`;
---

<Layout title={`Photo by ${user.name}`}>
  <div class="w-full rounded-md overflow-hidden text-white pb-12">
    <div class="flex justify-between w-full items-center py-4">
      <a
        href={`/users/${user.username}`}
        class="flex items-center space-x-3 transition-all duration-300 ease-in-out bg-zinc-800 px-3 py-2 rounded-md text-sm lg:text-base"
      >
        <div class="w-8 h-8 rounded-md overflow-hidden">
          <img
            src={user.profile_image.medium}
            alt=""
          />
        </div>
        <p class="font-medium hover:text-zinc-300">
          {user.name}
        </p>
      </a>
      <a
        href={links.download}
        download
        target="_blank"
        class="flex space-x-3 items-center bg-zinc-800 px-3 py-3 rounded hover:text-zinc-300/80 justify-center text-sm lg:text-base"
      >
        <span class="inline-block">Download</span>
        <button class="flex items-center space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-download w-4 h-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
            ></path>
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
            ></path>
          </svg>
        </button>
      </a>
    </div>

    <div
      id="container"
      class=""
    >
      <div id="image-container">
        <Image
          id={"image"}
          width={`${Math.round((width / height) * 900)}`}
          aspectRatio={`${width}:${height}`}
          src={urls.small}
          alt={"unsplash-image"}
          class="rounded-md"
          format={"webp"}
          quality={40}
          loading={"lazy"}
        />
      </div>
    </div>

    <div class="flex flex-col py-4 rounded-md lg:w-6/12 text-sm lg:text-base">
      <div class="grid grid-cols-4 w-full py-4 space-x-4">
        <div>
          <p class="font-medium">Posted on</p>
          <span class="text-xs md:text-sm text-zinc-300">
            {new Date(created_at).toLocaleDateString()}
          </span>
        </div>
        <div>
          <p class="font-medium">View</p>
          <span class="text-xs md:text-sm text-zinc-300">
            {views}
          </span>
        </div>
        <div>
          <p class="font-medium">Downloads</p>
          <span class="text-xs md:text-sm text-zinc-300">
            {downloads}
          </span>
        </div>
        <div>
          <p class="font-medium">Likes</p>
          <span class="text-xs md:text-sm text-zinc-300">
            {likes}
          </span>
        </div>
      </div>

      <div class="grid grid-cols-4 w-full py-4 space-x-4">
        <div>
          <p class="font-medium">Camera</p>
          {
            function () {
              if (exif.make === null)
                return (
                  <span class="text-zinc-300 text-xs md:text-sm"> -- </span>
                );
              else
                return (
                  <span class="text-xs md:text-sm text-zinc-300">
                    {exif.make}, {exif.model}
                  </span>
                );
            }
          }
        </div>
        <div>
          <p class="font-medium">ISO</p>
          {
            function () {
              if (exif.iso === null)
                return (
                  <span class="text-zinc-300 text-xs md:text-sm"> -- </span>
                );
              else
                return (
                  <span class="text-xs md:text-sm text-zinc-300">
                    {exif.iso}
                  </span>
                );
            }
          }
        </div>
        <div>
          <p class="font-medium">Dimensions</p>
          <span class="text-xs md:text-sm text-zinc-300">
            {`${width} x ${height}`}
          </span>
        </div>

        <div>
          <p class="font-medium">Focal</p>
          {
            function () {
              if (exif.focal_length === null)
                return (
                  <span class="text-zinc-300 text-xs md:text-sm"> -- </span>
                );
              else
                return (
                  <span class="text-xs md:text-sm text-zinc-300">
                    {exif.focal_length}
                  </span>
                );
            }
          }
        </div>
      </div>
    </div>

    <div class="">
      <h2 class="text-lg lg:text-2xl font-medium">More like this</h2>
      <div
        class="columns-1 md:columns-2 lg:columns-3 gap-4 py-8 space-y-4 break-before-avoid"
      >
        {
          related_collections.results?.map((collection) => {
            return (
              <div class="relative group">
                <a
                  href={`/photos/related_photos/${collection.cover_photo.id}`}
                  class="block group overflow-hidden rounded-md"
                >
                  <Image
                    width={420}
                    aspectRatio={`${collection.cover_photo.width}:${collection.cover_photo.height}`}
                    src={collection.cover_photo.urls.small}
                    alt={"unsplash-image"}
                    class="group-hover:scale-105 transition-all ease-in-out duration-700"
                    format={"webp"}
                    quality={40}
                  />
                </a>

                <div class="absolute bottom-0 flex justify-between w-full items-center py-4 px-4 bg-gradient-to-t lg:bg-none lg:group-hover:bg-gradient-to-t from-black/80 to-transparent bg-transparent">
                  <a
                    href={`/users/${collection.cover_photo.user.username}`}
                    class="flex lg:group-hover:flex items-center space-x-2 lg:hidden  px-2 py-2 rounded-md text-sm lg:text-base"
                  >
                    <div class="w-8 h-8 rounded-md overflow-hidden">
                      <img
                        src={collection.cover_photo.user.profile_image.medium}
                        alt=""
                      />
                    </div>
                    <p class="font-medium  hover:text-zinc-300">
                      {collection.cover_photo.user.name}
                    </p>
                  </a>

                  <a
                    href={collection.cover_photo.links.download}
                    download
                    target="_blank"
                  >
                    <button class="flex lg:group-hover:flex items-center space-x-4 lg:hidden  hover:text-zinc-300/80">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-download w-4 h-4"
                        viewBox="0 0 16 16"
                      >
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                      </svg>
                    </button>
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style define:vars={{ imageWidth, imageHeight, imageAspectRatio }}>
  #container {
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    min-width: 0;
  }

  #image-container {
    width: 100%;
  }

  #image {
    display: block;
    height: 100%;
    width: 100%;
  }

  @media (min-width: 1024px) {
    #container {
      min-height: 300px;
      max-height: 75vh;
      max-width: calc((var(--imageWidth) / var(--imageHeight)) * 75vh);
      /* min-width: calc((var(--imageWidth) / var(--imageHeight)) * 300px); */
      display: flex;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }

    #image-container {
      position: relative;
      width: 100%;
      height: 75vh;
    }

    #image {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
</style>
