---
import { Image } from "@astrojs/image/components";
import type { ImageDatas, Photos } from "../../interfaces/interfaces";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const API_KEY = import.meta.env.TOP_SECRET;
  let imageDatas = [] as ImageDatas[];

  let response = await fetch(
    `https://api.unsplash.com/photos/?client_id=${API_KEY}`
  );
  let datas = await response.json();
  imageDatas = datas;

  return imageDatas?.map(({ id }) => {
    return {
      params: { id },
    };
  });
}

const { id } = Astro.params;
const API_KEY = import.meta.env.TOP_SECRET;
let photo_datas = {} as Photos;

let photo_res = await fetch(
  `https://api.unsplash.com/photos/${id}?client_id=${API_KEY}`
);
let res_photo_data = await photo_res.json();
photo_datas = res_photo_data;

const {
  user,
  links,
  urls,
  width,
  height,
  created_at,
  likes,
  views,
  downloads,
  related_collections,
} = photo_datas;

const imageWidth = `${width}`;
const imageHeight = `${height}`;
---

<Layout title={id}>
  <div class="w-full rounded-md overflow-hidden text-white space-y-4 pb-12">
    <div class="flex justify-between w-full items-center py-4">
      <a
        href={`/users/${user.username}`}
        class="flex items-center space-x-2 transition-all duration-300 ease-in-out bg-zinc-800 px-2 py-2 rounded-md text-sm lg:text-base"
      >
        <div class="w-8 h-8 rounded-md overflow-hidden">
          <img
            src={user.profile_image.medium}
            alt=""
          />
        </div>
        <p class="font-medium hover:text-zinc-300">
          {user.name}
        </p>
      </a>
      <a
        href={links.download}
        download
        target="_blank"
        class="flex space-x-2 items-center bg-zinc-800 px-3 py-3 rounded hover:text-zinc-300/80 justify-center text-sm lg:text-base"
      >
        <span class="inline-block">Download</span>
        <button class="flex items-center space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-download w-4 h-4"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
            ></path>
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
            ></path>
          </svg>
        </button>
      </a>
    </div>

    <div
      id="image-container"
      class="flex justify-center mx-auto"
    >
      <Image
        width={width}
        height={height}
        aspectRatio={`${width}:${height}`}
        src={urls.regular}
        alt={"unsplash-image"}
        class="object-contain rounded-lg border border-transparent"
        format={"webp"}
        quality={50}
      />
    </div>

    <div
      class="flex flex-col md:flex-row w-full md:items-center justify-around py-4 space-y-2 md:space-y-0"
    >
      <div class="flex space-x-2 text-sm">
        <p class="font-medium">Posted on:</p>
        <span class="text-zinc-300"
          >{new Date(created_at).toLocaleDateString()}</span
        >
      </div>
      <div class="flex space-x-2 text-sm">
        <p class="font-medium">Dimension:</p>
        <span class="text-zinc-300"> {width} x {height}</span>
      </div>
      <div class="flex space-x-2 text-sm">
        <p class="font-medium">Likes:</p>
        <span class="text-zinc-300"> {likes}</span>
      </div>
      <div class="flex space-x-2 text-sm">
        <p class="font-medium">Views:</p>
        <span class="text-zinc-300"> {views}</span>
      </div>
      <div class="flex space-x-2 text-sm">
        <p class="font-medium">Downloads:</p>
        <span class="text-zinc-300"> {downloads}</span>
      </div>
    </div>

    <div class="">
      <h2 class="text-lg lg:text-2xl font-medium">More like this</h2>
      <div
        class="columns-1 md:columns-2 lg:columns-3 gap-4 py-8 space-y-4 break-before-avoid"
      >
        {
          related_collections.results?.map(({ cover_photo }) => (
            <Image
              width={600}
              aspectRatio={`${cover_photo.width}:${cover_photo.height}`}
              src={cover_photo.urls.regular}
              class:list={"rounded-md"}
              alt={"related_image"}
              format={"webp"}
              quality={50}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style define:vars={{ imageWidth, imageHeight }}>
  #image-container {
    max-height: 72vh;
    min-height: 300px;
    /* max-width: calc((var(--imageWidth) / var(--imageHeight)) * 100vw); */
    /* min-width: calc((var(--imageWidth) / var(--imageHeight)) * 300px); */
  }

  @media (min-width: 1024px) {
    #image-container {
      max-height: 75vh;
      min-height: 250px;
      max-width: calc((var(--imageWidth) / var(--imageHeight)) * 60vw);
      min-width: calc((var(--imageWidth) / var(--imageHeight)) * 300px);
    }
  }
</style>
