---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
import type { ImageDatas } from "../interfaces/interfaces";
import SearchInput from "../components/SearchInput.astro";

const API_KEY = import.meta.env.TOP_SECRET;
let imageDatas = [] as ImageDatas[];

try {
  let response = await fetch(
    `https://api.unsplash.com/photos/?per_page=30&client_id=${API_KEY}`
  );
  let data = await response.json();
  imageDatas = data;
} catch (e) {
  console.error(e);
}
---

<Layout title="Photos">
  <SearchInput />
  <div
    class="columns-1 md:columns-2 lg:columns-3 break-before-avoid space-y-4 inline-block text-zinc-100 py-8"
  >
    {
      imageDatas?.map(({ id, urls, user, width, height, links, color }) => (
        <Cards
          id={id}
          urls={urls}
          user={user}
          width={width}
          height={height}
          links={links}
          color={color}
        />
      ))
    }
  </div>
</Layout>
