---
import { Image } from "@astrojs/image/components";

export interface PhotoListProps {
  id: string;
  color: string;
  user: {
    username: string;
    name: string;
    profile_image: {
      small: string;
      medium: string;
      large: string;
    };
  };
  urls: {
    regular: string;
    small: string;
  };
  links: {
    self: string;
    download: string;
  };
  width: number;
  height: number;
}

const { id, urls, width, height, links, user, color } =
  Astro.props as PhotoListProps;
---

<div class="w-full rounded-md overflow-hidden group relative">
  <a
    href={`/photos/${id}`}
    class="block group w-full"
  >
    <Image
      id={"user_image"}
      width={`${Math.round((width / height) * 1200)}`}
      aspectRatio={`${width}:${height}`}
      src={urls.regular}
      alt={`${user.name}'s Photos`}
      class={`w-full group-hover:scale-110 transition-all ease-in-out duration-500`}
      format={"webp"}
      quality={40}
    />
  </a>
  <div
    class="absolute bottom-0 flex justify-between w-full items-center py-2 px-2 bg-gradient-to-t lg:bg-none group-hover:bg-gradient-to-t from-black/80 to-transparent bg-transparent"
  >
    <a
      href={`/users/${user.username}`}
      class="flex lg:group-hover:flex items-center space-x-2 lg:hidden px-2 py-2 rounded-md text-sm lg:text-base"
    >
      <div class="w-8 h-8 rounded-md overflow-hidden">
        <img
          src={user.profile_image.medium}
          alt={user.name}
        />
      </div>
      <p class="font-medium hover:text-zinc-300">
        {user.name}
      </p>
    </a>
    <a
      href={links.download}
      download
      target="_blank"
    >
      <button
        class="flex lg:group-hover:flex items-center space-x-4 lg:hidden px-4 py-4 rounded-md hover:text-zinc-300/80"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-download w-4 h-4"
          viewBox="0 0 16 16"
        >
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
          ></path>
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
          ></path>
        </svg>
      </button>
    </a>
  </div>
</div>

<style define:vars={{ color }}>
  #user_image {
    background-color: var(--color);
  }
</style>
