---
import Layout from "../../layouts/Layout.astro";
import ProfileBanner from "../../components/ProfileBanner.astro";
import PhotoLists from "../../components/PhotoLists.astro";
import Button from "../../components/Button.astro";
import type {
  ImageDatas,
  UserDatas,
  UserPhotos,
} from "../../interfaces/interfaces";

export async function getStaticPaths() {
  const API_KEY = import.meta.env.TOP_SECRET;
  let imageDatas = [] as ImageDatas[];

  let response = await fetch(
    `https://api.unsplash.com/photos/?client_id=${API_KEY}`
  );
  let datas = await response.json();
  imageDatas = datas;

  return imageDatas?.map(({ user, urls }) => {
    return {
      params: { name: `${user.username}` },
    };
  });
}

const API_KEY = import.meta.env.TOP_SECRET;
const { name } = Astro.params;
let user_datas = {} as UserDatas;
let user_data_photos = [] as UserPhotos[];

let user_data_res = await fetch(
  `https://api.unsplash.com/users/${name}/?client_id=${API_KEY}`
);
let res_user_data = await user_data_res.json();

let user_data_photo_res = await fetch(
  `https://api.unsplash.com/users/${name}/photos/?client_id=${API_KEY}`
);
let res_user_data_photos = await user_data_photo_res.json();

user_datas = res_user_data;
user_data_photos = res_user_data_photos;

const {
  username,
  profile_image,
  bio,
  social,
  location,
  followers_count,
  following_count,
} = user_datas;
---

<Layout title={name}>
  <div class="py-8 flex flex-col justify-center w-full space-y-8">
    <ProfileBanner
      name={name}
      username={username}
      profile_image={profile_image}
      bio={bio}
      social={social}
      location={location}
      followers={followers_count}
      following={following_count}
    />

    <Button title={"Hello"} />

    <section
      class="columns-1 md:columns-2 lg:columns-3 break-before-avoid space-y-4 inline-block text-zinc-100"
    >
      {
        user_data_photos.map(({ user, urls, width, height, links }) => (
          <PhotoLists
            urls={urls}
            width={width}
            height={height}
            links={links}
            user={user}
          />
        ))
      }
    </section>
  </div>
</Layout>
