---
import Layout from "../../layouts/Layout.astro";
import ProfileBanner from "../../components/ProfileBanner.astro";
import PhotoLists from "../../components/PhotoLists.astro";
import Button from "../../components/Button.astro";
import type { UserDatas, UserPhotos } from "../../interfaces/interfaces";

const { name } = Astro.params;
const API_KEY = import.meta.env.TOP_SECRET;

let user_datas = {} as UserDatas;
let user_data_photos = [] as UserPhotos[];

try {
  let user_data_res = await fetch(
    `https://api.unsplash.com/users/${name}/?client_id=${API_KEY}`
  );
  let res_user_data = await user_data_res.json();
  user_datas = res_user_data;
} catch (e) {
  console.error(e);
}

try {
  let user_data_photo_res = await fetch(
    `https://api.unsplash.com/users/${name}/photos/?per_page=20&client_id=${API_KEY}`
  );
  let res_user_data_photos = await user_data_photo_res.json();

  user_data_photos = res_user_data_photos;
} catch (e) {
  console.error(e);
}
---

<Layout title={user_datas.name}>
  <div class="py-8 flex flex-col justify-center w-full space-y-8">
    <ProfileBanner
      name={user_datas.name}
      username={user_datas.username}
      profile_image={user_datas.profile_image}
      bio={user_datas.bio}
      social={user_datas.social}
      location={user_datas.location}
      followers={user_datas.followers_count}
      following={user_datas.following_count}
      user_link={user_datas.links.html}
    />

    <Button title={`${user_datas.name}'s Photos`} />

    <section
      class="columns-1 md:columns-2 lg:columns-3 break-before-avoid space-y-4 inline-block text-zinc-100"
    >
      {
        user_data_photos?.map(
          ({ id, user, urls, width, height, links, color }) => (
            <PhotoLists
              id={id}
              urls={urls}
              width={width}
              height={height}
              links={links}
              user={user}
              color={color}
            />
          )
        )
      }
    </section>
  </div>
</Layout>
